<form *ngIf="user">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="user.name">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" name="gender" value="user.gender" [(ngModel)]="user.gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    
    </select>
  </div>
  <div class="form-group">
    <label for="gender">Birth Date:</label>
    <input type="date" class="form-control" name="birthdate" (input)="onDateChange($event.target.value)" value="{{user.birthdate| date:'yyyy-MM-dd'}}"  min="1900-01-01" max="2100-12-31"/>
  </div>
</form>


<div *ngIf="isEditing" style="text-align:center">
    <button type="button" class="btn btn-outline-primary" (click)="updateUser()">Update</button>
    <button type="button" class="btn btn-outline-danger"(click)="deleteUser()">Delete</button>    
</div>
<div *ngIf="!isEditing" style="text-align:center">
    <button type="button" class="btn btn-outline-primary" (click)="addUser()">Add</button>
</div>
